* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #d2dad4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

h1 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 1rem;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background-color: #2c3e50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1a252f;
}

p {
    margin-top: 15px;
    font-size: 0.9rem;
}

p a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}
